@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    display:flex ;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #333;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    transition: 0.5s;
}

header .logo span {
    color: chocolate;
    font-size: 2em;
    transition: 0.5s;
}

header .logo span:hover {
    color: #333;
}

nav {
    display: flex;
    padding: 20px;
    align-self: flex-end;
    transition: 0.5s;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
}

.topHeader{
    display: flex;
    
}

.ProjectsPageHeader{
    display: flex;
    flex-direction: row;
    
}

