@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.FullPage {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0 100px 100px;
    background: #fff;
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    transition: 0.5s;
}

header .logo span {
    color: chocolate;
    font-size: 2em;
    transition: 0.5s;
}

header .logo span:hover {
    color: #333;
}


header ul {
    display: flex;
    gap: 40px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
}

.project img{
    display:list-item;
    width: 300px;
    height: auto;
}

.project h3{
    font-size: 4.5em;
    color: #333;
    transition: 0.5s;
}


.project button {
    position: relative;
    background: chocolate;
    color: #333;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.0;
    cursor: pointer;
    text-decoration: none;
}

.project button:hover {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project .project-info ul.project-description {
    padding-left: 20px;
    list-style-type: circle;
    list-style-position: inside;
    font-size: 1em;
    color: #666;
    margin-top: 10px;
}

.project-container h2{
    font-size: 5.5em;
    transition: 0.5s;
}

.project-container #Aditya{
    color: #333;
}

.project-container #ProjectSpan{
    color: chocolate;
}




.project-container #Aditya:hover{
    color: chocolate;
    transition: 0.5s;
}

.project-container #ProjectSpan:hover{
    color: #333;
    transition: 0.5s;
}
