@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing:content-box;
    font-family: 'Raleway', sans-serif;
}

header {

    padding: 1.1em;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    transition: 0.5s;
}

header .logo span {
    color: chocolate;
    font-size: 2em;
    transition: 0.5s;
}

header .logo span:hover {
    color: #333;
}

nav {
    display: flex;
    padding: 1.1em;
    align-self: flex-end;
    transition: 0.5s;
}

nav ul {
    display: flex;
    gap: 2.5em;
}

nav ul li {
    list-style: none;
}

li {
    padding-bottom: 2em;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.darkModeToggle {
    bottom: 2em;
    height: 2.8em;
    width: 2.8em;
    margin-left: 8em;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.5em;
    position: fixed;
    top: 1em;
    left: 20em;
    transition: 0.5s;
    z-index: 1000;
}

.darkModeToggle ion-icon:nth-child(2),
body.DarkMode .darkModeToggle ion-icon:nth-child(1) {
    display: none;
}

body.DarkMode .darkModeToggle ion-icon:nth-child(2) {
    display: block;
}

.darkModeToggle ion-icon {
    font-size: 1.5em;
}

body.DarkMode
{
    background: #333;
}

body.DarkMode .project__content {
    background-color: #333;
    color: #fff;
}

body.DarkMode .project,
body.DarkMode .ProjectHeaderText,
body.DarkMode .logo
{
    color: #fff;
}

body.DarkMode .project_title,
body.DarkMode .project_skills,
body.DarkMode .project_description
{
    background-image: linear-gradient(to right, #fff, #d2691e);
    color: transparent;
}

body.DarkMode .list_items a{
    color: #fff;
}

body.DarkMode .github_button .button{
    background-color: #6C7A89;
}

body.DarkMode .github_button .button:hover{
    background-color: #d2691e;
}

.ProjectsPageHeader{
    display: flex;
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #ccc;
    margin-bottom: 0.5em;
    justify-content: space-around;
    align-items: center;
}

.ProjectHeaderText{
    font-size: 4em;
    color: transparent;
    background-image: linear-gradient(to right, #000000, #d2691e);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: lighter;
    font-style: italic;
}

.project__content{
    padding-top: 3.125em;
    position: relative;
    display: block;
    float: left;
    color: #f4f5f6;
    background-color: #f4f5f6;
    display: flex;
    flex-direction: column;
}

.project{
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    clear: both;
    font-size: 16px;
    color: #6C7A89;
    column-gap: 10px;
    transition: 0.5s;
    justify-content: space-between;
    background-origin: padding-box;
    background-attachment: scroll;
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 4em;
}



.project_img_container{
    flex:1.7;
    display: flex;
    border: 0.20em solid #d2691e;
    aspect-ratio: 16 / 9;
    background-color:#333;
}

.project_text_container {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 20px;
    gap: 0.5em;
}

.project_title,
.project_skills,
.project_description {
    flex: 2;
}

.project_title{
    font-size: 3em;
    font-weight: 400;
    color: transparent;
    background-image: linear-gradient(to right, #000000, #d2691e);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 0.5em;
}

.project_skills{
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: 300;
    color: transparent;
    background-image: linear-gradient(to right, #000000, #d2691e);
    -webkit-background-clip: text;
    background-clip: text;
}

.project_description{
    margin-top: 0.5em;
    font-size: 1.115em;
    font-weight: 200;
    color: transparent;
    background-image: linear-gradient(to right, #000000, #d2691e);
    -webkit-background-clip: text;
    background-clip: text;
}



img{
    width:100%;
    object-fit: cover;
    height: 100%;
}

.github_button .button {
    display: inline-block;
    padding: 1em 1em;
    font-size: 1.2em;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5em;
}

.github_button .button:hover {
    background-color: #d2691e;
}

.other-description{
    font-weight: 200em;
    font-size: 0.7em;
}